

/* --========================================= RODAPÉ =======================================-- */
footer {
	background: #000;
	padding: 50px 0px 20px 0px;
    position: relative;
    width: 100%;
    bottom: 0;
	margin-top: 15%;
}

/* -- Configuração dos links do footer -- */
.navbar-inverse .navbar-nav>li>a, footer .navbar  a {
	color: white;
}

/* -- Configuração do evento do footer -- */
.navbar-inverse .navbar-nav>li>a:hover, footer .navbar  a:hover {
	color: #9bf0e1;
    background: none;
    text-decoration:none;
}

/* -- Ícones de rede social  -- */
.item-rede-social{
    float: right;  
}

/* -- Padronização das fontes do rodapé -- */
#rodape h4 {
	color: #919496;
	font-size: 12px;
	text-transform: uppercase;
}

/* modificação para pc*/
@media screen and (min-width: 700px){
	/* -- estiLo para img que aparece apenas acima de 700px -- */
	.img-logo-pc{
		background-image: url("/src/assets/img/logofatec1.png");
		background-repeat: no-repeat;
	} 
	/* -- estilo do bloco do span do logo -- */
	span{
		height: 50%;
	}

	/* -- estiLo da img do logo -- */
	.img-logo {
		height: 80%px;
		width: 90%;
		display: block;
		background-size: contain;
		color: transparent;
	}
}

/* --========================================= FIM =======================================-- */

