 <!-- Rodape -->
 <footer id="rodape" class="footer navbar-fixed-bottom">
  <div class="container">
    <div class="row">
      
       <!-- Logo da Fatec -->
      <div class="col-md-2">
        <span >Fatec Zona Sul</span>
      </div>

       <!-- Estrutura de links em grids  -->
      <div class="col-md-2">
        <h4>comunidades</h4>
        <ul class="nav">
          <p><li><a href="">Fatec ZS</a></li></p>
          <p><li><a href="">Desenvolvedores</a></li></p>
          <li><a href="">Angular</a></li>
        </ul>
      </div>
      <div class="col-md-2">
          <h4>comunidades</h4>
          <ul class="nav">
            <p><li><a href="">Link Teste</a></li></p>
            <p><li><a href="">Barra de Setor</a></li></p>
            <p><li><a href="">Castanha do Pará</a></li></p>
          </ul>
      </div>
      <div class="col-md-2">
        <h4>comunidades</h4>
        <ul class="nav">
          <p><li><a href="">Link Teste</a></li></p>
          <p><li><a href="">Barra de Setor</a></li></p>
          <p><li><a href="">Castanha do Pará</a></li></p>
        </ul>
      </div>
      <!-- Fim links  -->

      <!-- Imagens Icones com links -->
      <div class="col-md-1"></div>
      <div class="col-md-3">
        <ul class="nav navbar">
          <li class="item-rede-social "><a href="http://www.xvideos-br.com/"><img src="/src/assets/img/facebook.png"></a></li>
          <li class="item-rede-social "><a href="https://www.instagram.com/"><img src="/src/assets/img/instagram.png"></a></li>
          <li class="item-rede-social "><a href="https://twitter.com/login?lang=pt"><img src="/src/assets/img/twitter.png"></a></li>
        </ul>
      </div>
    </div><!-- /row -->
  </div>
</footer>
