<!-- Rodape -->
<footer id="rodape">
  <div class="container">
    <div class="row">

      <div class="col-md-2">
        <h4>Fatec Zona Sul</h4>
        <ul class="nav">
          <li>
            <a href="http://www.fateczonasul.edu.br/">Sobre</a>
          </li>
          <li>
            <a href="http://www.apinfo.com/apinfo/">Empregos</a>
          </li>
          <li>
            <a href="">Novidades</a>
          </li>
        </ul>
      </div>

      <div class="col-md-2">
        <h4>Comunidade</h4>
        <ul class="nav">
          <li>
            <a href="">Alunos</a>
          </li>
          <li>
            <a href="">Cursos</a>
          </li>
          <li>
            <a href="">Atlética</a>
          </li>
        </ul>
      </div>

      <div class="col-md-2">
        <h4>links uteis</h4>
        <ul class="nav">
          <li>
            <a href="https://siga.cps.sp.gov.br/aluno/login.aspx">Sistema Siga</a>
          </li>
          <li>
            <a href="http://www.vestibularfatec.com.br/home/">Vestibular</a>
          </li>
          <li>
            <a href="http://www.revistarefas.com.br/index.php/RevFATECZS">Revista Fatec</a>
          </li>
        </ul>
      </div>

      <div class="col-md-4">
        <ul class="nav">
          <li class="item-rede-social">
            <a href="https://www.facebook.com/">
              <img src="imagens/facebook.png" />
            </a>
          </li>
          <li class="item-rede-social">
            <a href="https://twitter.com/login?lang=pt">
              <img src="imagens/twitter.png" />
            </a>
          </li>
          <li class="item-rede-social">
            <a href="https://www.instagram.com/?hl=pt-br">
              <img src="imagens/instagram.png" />
            </a>
          </li>
        </ul>
      </div>

    </div>
    <!-- /row -->
  </div>
</footer>