 <!-- Rodape -->
 <footer id="rodape" class="footer navbar-fixed-bottom">
  <div class="container">
    <div class="row">
      
       <!-- Logo da Fatec -->
      <div class="col-md-3 " >
        <span class="img-logo img-logo-pc">
          <img  class=" img-log img-responsive " >Fatec Zona Sul
        </span>
      </div>

       <!-- Links do rodapé  -->
      <div class="col-md-2">
        <h4>Fale Conosco</h4>
        <ul class="navbar nav">
            <li class="nav-item"><a class="nav-link" href="#">Fatec ZS</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Eventos</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Constatos</a></li>
        </ul>
      </div>
      <div class="col-md-2">
          <h4>Comunidades</h4>
          <ul class="navbar nav">
            <li class="nav-item"><a class="nav-link" href="#">Fatec ZS</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Eventos </a></li>
            <li class="nav-item"><a class="nav-link" href="#">Contemais </a></li>
          </ul>
      </div>
      <div class="col-md-2">
          <h4>Assuntos Diversos</h4>
          <ul class="navbar nav">
              <li class="nav-item"><a class="nav-link" href="#">Aritogos</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Somos</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Vestibular</a></li>
            </ul>
      </div>
        
       
      <!-- Fim links  -->

      <!-- Imagens Icones com links -->
      <div class="col-md-3">
        <ul class="nav navbar">
          <li class="item-rede-social "><a href="http://facebook.com/"><img src="/src/assets/img/facebook.png"></a></li>
          <li class="item-rede-social "><a href="https://www.instagram.com/"><img src="/src/assets/img/instagram.png"></a></li>
          <li class="item-rede-social "><a href="https://twitter.com/login?lang=pt"><img src="/src/assets/img/twitter.png"></a></li>
        </ul>
      </div>
    </div><!-- /row -->
  </div>
</footer>
