<!--Bloco Principal-->
<div id="login">
    <h3 class="text-center text-white pt-5">Login form</h3>
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12 bg-light login-sombra">
                    <form id="login-form" class="form " action="" method="post">
                        <img class="logo-login" src="/src/assets/img/logologin.png" alt="">
                        <h3 class="text-left text-dark">Login</h3>
                        <!--Inserir Email-->
                        <div class="form-group">
                            <label for="username" class="text-dark">E-mail:</label>
                            <br>
                            <input type="text" name="username" id="username" class="form-control" placeholder="Email" required="" autofocus="">
                        </div>
                        <!--Inserir Senha-->
                        <div class="form-group">
                            <label for="password" class="text-dark">Senha:</label>
                            <br>
                            <input type="text" name="password" id="password" class="form-control" placeholder="Senha" required="">
                        </div>
                        <div class="form-group">
                            <label for="remember-me" class="text-info">
                                <span class="format-span">Lembrar-me</span>
                                <span>
                                    <input id="remember-me" name="remember-me" type="checkbox">
                                </span>
                            </label>
                            <br>
                        </div>
                        <div class="form-group row">

                            <!--Botão para cadastro-->
                            <div class="col-8 sm-4">
                                <button class="btn btn-success btn-md ">
                                    <a class="text-white" a routerLink="/form-usuario">Cadastrar</a>
                                </button>
                            </div>

                            <!--Botão para Logar-->
                            <div class="col-2 sm-4 botao">
                                <input type="submit" name="logar" class="btn btn-info btn-md " value="Logar">
                            </div>
                        </div>
                        <!--Link para envio de email
                            <div class="form-group" id="register-link" >
                            <a href="#" class="text-info text-left">Esqueci minha senha.</a>
                            </div>
                        -->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>