
/* ======================================= LOGIN =================================*/
 
 /* centralização do bloco do login */
 #login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 510px;
  border: 1px solid lightgrey;    
  padding-bottom: 50%;
  color: black;  
}

 /* configuração padding interno do container */
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}

  /* configuração do logo */
.logo-login{
  width: 80%;
  height: 5%;
  padding-bottom: 50px;
}

  /* sombra do login */
.login-sombra{ 
  -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);                
}

 /* cor do link botão cadastro */
div a{
  color: white;
}

 /* formatação do check-box 'lembrar-me' */
.format-span{
  padding: 5px;
  padding-top: 10px;
}

/* modificação para mobile */
@media screen and (min-width: 700px){
    .botao{
      padding-left: 16%;
    }
}
/* ======================================= FIM LOGIN =================================*/