
/* ======================================= LOGIN =================================*/
 
 /* centralização do bloco do login */
 #login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 510px;
  border: 1px solid lightgrey;    
  padding-bottom: 50%;
  color: black;  
}

 /* configuração padding interno do container */
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}

  /* configuração do logo */
.logo-login{
  width: 80%;
  height: 5%;
  padding-bottom: 50px;
}

  /* sombra do login */
.login-sombra{ 
  -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);                
}


 /* formatação do check-box 'lembrar-me' */
.format-span{
  margin-right: 5px;
  margin-bottom: 10px;
}

/* modificação para pc*/
@media screen and (min-width: 770px){
    .botao{
      padding-left: 17%;
    }
}

/* REVER E MODIFICAR IPAD*/
@media screen and (min-width: 780px){
  .botao{
    padding-left: 6%;
  }
}

/* modificação para ipad*/
@media screen and (min-width: 567px){
  .botao{
    padding-left: 16%;
  }
}



/* modificação para mobile*/
@media screen and (max-width: 414px){
  .botao{
    padding-left: 8%;
  }
}

/* modificação para mobile*/
@media screen and (max-width: 365px){
  .botao{
    padding-left: 4%;
  }
}

/* modificação para mobile*/
@media screen and (max-width: 330px){
  .botao{
    padding-left: 1%;
  }
}
/* ======================================= FIM LOGIN =================================*/