

<div class="container">
        <table class="table table-houver">
                <thead class="thead-dark">
                    <tr>
                        <th class="text-center">Atividade</th>
                        <th class="text-center">Dia</th>
                        <th class="text-center">Duração</th>
                        <th class="text-center">Local</th>
                    </tr>
                </thead>
                <tbody >
                    <tr>
                        <td class="text-center">{{atividade.nome}}</td>
                        <td class="text-center">{{atividade.inicioAtividade | date: 'dd/MM/yyyy'}}</td>
                        <td class="text-center">{{atividade.inicioAtividade | date: 'HH:mm'}} - {{atividade.fimAtividade | date:
                            'HH:mm'}}
                        </td>
                        <td class="text-center">{{atividade.localAtividade}}</td>
                    </tr>
                </tbody>
            </table>
            {{atividade.descricao}}<br>
            <a [routerLink]="['/form-evento']" class="btn btn-success">Inscriver-se no Evento</a>
            <a [routerLink]="['/form-evento']" class="btn btn-primary">Validação de Presença</a>
       </div>