<!--===================================== TABELA TESTE ===============================-->
<div class="container">
    <div class="header-style table-responsive">
        <h2>Evento: {{nome}}</h2>
        {{descricao}}
        <hr>
        <p>Abaixo estão listados de Atividades:</p>
    </div>
</div>


<div class="container row" style="margin-left:140px" *ngFor="let agendamento of agendamentos" >
    <div class="card" style="width:380px; margin: 4%; padding: 4%;" *ngFor="let atividade of agendamento.atividades">
        <h2>{{atividade.nome}}</h2>
        <p> {{agendamento.inicio | date: 'dd/MM/yyyy'}} - {{agendamento.fim | date: 'dd/MM/yyyy'}}</p>
        <div>
            <div class="card-body">
                <h4 class="card-title"> {{agendamento.usuarioOrganizador.nome}}</h4>
                <p>Local: {{atividade.localAtividade}}: {{atividade.inicioAtividade | date: 'HH:mm'}} - {{atividade.fimAtividade
                    | date: 'HH:mm'}}</p>
                <a [routerLink]="['/consulta-atividade', atividade]" class="btn btn-primary text-white">Ver mais</a>
            </div>
        </div>
    </div>
</div>