<div class="container">
	<!--Cabeçalho-->
	<h4 class="mb-3 mt-3">Cadastro de Eventos</h4>
	<form class="needs-validation" novalidate="" [formGroup]="inserirEvento" (ngSubmit)="onSubmit()">
		<!--Evento-->
		<div class="row">
			<div class="col mb-3">
				<label>Nome</label>
				<input class="form-control" id="nome" name="nome" [formControl]="inserirEvento.get('nome')" placeholder="" value="" required="" type="text"> </div>
	<!-- 	</div>
		<div class="row">
 -->			<div class="col-md-6 mb-3">
				<label for="state">Curso</label>
				<select class="custom-select d-block w-100" name="cursoEvento" [formControl]="inserirEvento.get('cursoEvento')" id="state" required="">
					<option value="">Escolha</option>
					<option value="1">ADS</option>
					<option value="2">Logistica</option>
				</select>
			</div>
		<!-- 	<div class="col-md-6 mb-3">
				<label>Local</label>
				<input class="form-control" type="text">
				<div class="invalid-feedback"> O Local é Obrigatório. </div>
			</div> -->
		</div>
		<div class="row">
			<div class="col mb-3">
				<label>Descrição</label>
				<textarea class="form-control" rows="4" value="" name="descricao" [formControl]="inserirEvento.get('descricao')" required=""></textarea>
				<div class="invalid-feedback"> O nome é Obrigatório. </div>
			</div>
		</div>
		<!--Data de Inicio-->
		<div class="row">
			<div class="col-md-6 mb-3">
				<label for="dataInicio">Inicio</label>
				<input class="form-control input-group" type="date" id="dataInicio" name="inicio" [formControl]="inserirEvento.get('inicio')" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
				<span class="validity"></span>
			</div>
			<!--Data Fim-->
			<div class="col-md-6 mb-3">
				<label for="dataFim">Fim</label>
				<input class="form-control input-group" type="date" id="dataFim" name="fim" [formControl]="inserirEvento.get('fim')" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
				<span class="validity"></span>
			</div>
			<!--Salvar-->
			<div class="col">
				<div class="float-right">
					<button type="button" class="btn btn-primary btn-block btn_salvar" type="submit">Salvar</button>
				</div>
			</div>
		</div>
	</form>
</div>