<div class="container">
  <app-barra-navegacao></app-barra-navegacao>
  <h2>Bem vindo {{usuario.nome}},</h2>
  <h4>Abaixo estão listados os Eventos da Fatec Zona Sul:</h4>

  <div class="row">

    <div class="col-md-4" *ngFor="let evento of eventos">
      <div class="card text-left mb-4 box-shadow">
        <div class="card-header">
          {{evento.nome}}
        </div>
        <div class="card-body">
          <h5 class="card-title">{{evento.inicio | date: 'dd/MM/yyyy'}} à {{evento.fim | date: 'dd/MM/yyyy'}}</h5>
          <p class="card-text">{{evento.descricao}}</p>
          <a [routerLink]="['/consulta-evento', evento.id, evento.nome]" class="btn btn-primary">Saiba mais</a>
        </div>
        <div class="card-footer text-muted">
          Informações Importantes.
        </div>
      </div>
    </div>

  </div>
</div>