<!-- ====================================== TELA MINHA ÁREA ===================================== -->
<div class="container">
  <h1>Bem-vindo {{usuario.nome}}</h1>
  <hr>
  <div class="container">    
   
    <!--=================== MEU CADASTRO ===================-->
    <div id="accordion">
      <div class="card">
        <div class="card-header bg-primary">
          <a class="card-link  text-white" data-toggle="collapse" href="#collapseOne">Meu Cadastro</a>
        </div>
        <div id="collapseOne" class="collapse show" data-parent="#accordion">
          <div class="card-body">
            <!-- Chamada Cadastro usuário -->
            <app-form-usuario-log></app-form-usuario-log>           
           <!-- Fim Conteúdo-->
          </div>
        </div>
      </div><!-- ======== Fim Meu Cadastro =======-->
      

       <!-- ============== PONTUAÇÃO PARTICIPANTE ==================-->
       <div class="table-responsive">
        <table class="table table-hover ">
          <thead>
            <tr>
              <th scope="col">COD</th>
              <th scope="col">Tipo</th>
              <th scope="col">Pontuação</th>
              <th scope="col">Data do Evento</th>
            </tr>
          </thead>
          <tbody>
            <tr class="table-success">
              <th scope="row">1</th>
              <td>Semestral</td>
              <td>50</td>
              <td>AA/MM/YYYY</td>
            </tr>
            <tr class="table-warning">
              <th scope="row">2</th>
              <td>Anual</td>
              <td>100</td>
              <td>AA/MM/YYYY</td>
            </tr>
            <tr class="table-primary">
              <th scope="row">3</th>
              <td>Total</td>
              <td>200</td>
              <td>AA/MM/YYYY</td>
            </tr>
          </tbody>
        </table>
      </div>
    <!--================ APLICAÇÃO DE ATIVIDADE ==================-->
    <div class="container ">
      <h2>Atividades</h2>
      <table class="table table-responsive-sm">
        <thead class="table-active thead-dark">
          <tr>
            <th colspan="2">Nome </th>
            <th>Pontuação</th>
            <th> </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="2">Programação</td>
            <td>50,00</td>
            <td colspan="2" class="text-center">
              <button class="btn btn-success btn-sm" type="submit">Certificado</button>
            </td>
          </tr>
          <tr>
            <td colspan="2">Banco de Dados</td>
            <td>100,00</td>
            <td colspan="2" class="text-center">        
              <button class="btn btn-success btn-sm" type="submit">Certificado</button>
            </td>
          </tr>
          <tr>
            <td colspan="2">Programação Web</td>
            <td>130,00</td>
            <td colspan="2" class="text-center">
              <button class="btn btn-success btn-sm" type="submit">Certificado</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>