<!-- ====================================== TELA MINHA ÁREA ===================================== -->
<div class="container">
  <h1>Minha Área</h1>
  <hr>
  <div class="container">
    <h3>Bem vindo Aluno</h3>

    <!--=================== MEU CADASTRO ===================-->
    <div id="accordion">
      <div class="card ">
        <div class="card-header">
          <a class="card-link text-dark" data-toggle="collapse" href="#collapseOne">Meu Cadastro</a>
        </div>
        <div id="collapseOne" class="collapse show" data-parent="#accordion">
          <div class="card-body">
            <!-- Chamada Cadastro usuário -->
            <app-form-usuario-log></app-form-usuario-log>           
           <!-- Fim Conteúdo-->
          </div>
        </div>
      </div><!-- ======== Fim Meu Cadastro =======-->
      

       <!-- ============== PONTUAÇÃO PARTICIPANTE ==================-->
      <div class="card">
        <div class="card-header ">
          <a class="collapsed card-link text-dark" data-toggle="collapse" href="#collapseTwo">Pontuação</a>
        </div>
        <div id="collapseTwo" class="collapse" data-parent="#accordion">
          <div class="card-body table-responsive">
            <table class="table table-hover ">
              <thead>
                <tr>
                  <th scope="col">COD</th>
                  <th scope="col">Tipo</th>
                  <th scope="col">Pontuação</th>
                  <th scope="col">Data</th>
                </tr>
              </thead>
              <tbody>
                <tr class="table-success">
                  <th scope="row">1</th>
                  <td>Semestral</td>
                  <td>50</td>
                  <td>AA/MM/YYYY</td>
                </tr>
                <tr class="table-danger">
                  <th scope="row">2</th>
                  <td>Anual</td>
                  <td>100</td>
                  <td>AA/MM/YYYY</td>
                </tr>
                <tr class="table-warning">
                  <th scope="row">3</th>
                  <td>Total</td>
                  <td>200</td>
                  <td>AA/MM/YYYY</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <a class="collapsed card-link text-dark" data-toggle="collapse" href="#collapseThree">
            Minhas Atividade
          </a>
        </div>
        <div id="collapseThree" class="collapse " data-parent="#accordion">
          <div class="card-body">

            <!-- CARROSSEL-->
            <div id="carro" class="carousel slide container-carrossel " data-ride="carousel">

              <!-- Indicadores -->
              <ul class="carousel-indicators ">
                <li data-target="#carro" data-slide-to="0" class="active"></li>
                <li data-target="#carro" data-slide-to="1"></li>
                <li data-target="#carro" data-slide-to="2"></li>
              </ul>
              <!-- O slideshow imagens-->
              <div class="carousel-inner">
                <div class="carousel-item active ">
                  <img src="/src/assets/img/p.jpg" class="img-thumbnail" alt="Los Angeles" width="1100" height="500">
                </div>
                <div class="carousel-item">
                  <img src="/src/assets/img/p2.jpg" class="img-thumbnail" alt="Chicago" width="1100" height="500">
                </div>
                <div class="carousel-item">
                  <img src="/src/assets/img/p1.jpg" class="img-thumbnail" alt="New York" width="1100" height="500">
                </div>
                <p class="text-justify">
                  <strong>Note:</strong> Agora a
                  <strong> Fatec</strong> Acadêmicos da Fatec Zona Sul, Sejam Bem Vindos! A Fatec Zona Sul preparou um semestre especial
                  à todos! Em 2018 a Fatec Zona Sul completa 12 anos e você faz parte desta conquista! Participe! Divulgue!
                  Interaja! Vibre! #SouFatecZonaSul.
                </p>
              </div>
              <!-- Controle esquerda e direita -->
              <a class="carousel-control-prev" href="#carro" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
              </a>
              <a class="carousel-control-next" href="#carro" data-slide="next">
                <span class="carousel-control-next-icon"></span>
              </a>
            </div>
            <!--FIM CARROSSEL-->

          </div>
        </div>
      </div>
    </div>
  </div>
</div>